/* About Us */
.bisen-about-section {
  padding: 60px 20px;
  background: var(--about-color);
  display: flex;
  justify-content: center;
  color: #000;
}
.bisen-about-container {
  max-width: 1100px;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}
.bisen-about-image-box {
  flex: 1;
  min-width: 300px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.bisen-about-image {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}
.bisen-about-video {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}
.bisen-about-content {
  flex: 1.2;
  min-width: 320px;
  color: var(--text-color);
}
